/* Universal Styles */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --strong-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}


/* --- Mobile Flow --- */

.desktop{
    display: none;
}

/* Header */

header img{
    width: 100px;
    height: 20.89px;
    margin: 32px 31.54px;
}

/* Hero Images */

.mobile img{
    width: 100%;
    height: auto;
}

/* Content */

.content{
    margin: 50px 32px;
    text-align: center;
}

h1{
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 10.83px;
    font-weight: 600;
    color: var(--dark-grayish-red);
    text-transform: uppercase;
}

.accent{
    font-weight: 300;
    color: var(--desaturated-red);
}

p{
    margin: 35px 0 25px 0;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    color: var(--desaturated-red);
    font-weight: 400;
}

/* Form Content */

.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 311px;
    height: 48px;
    border-radius: 28px;
    border: 1px solid var(--desaturated-red);
    padding-left: 10px;
}

input::placeholder{
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: var(--desaturated-red);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 48px;
    background: var(--strong-gradient);
    border: none;
    border-radius: 28px;
    position: absolute;
    right: 40px;
    box-shadow: 0px 10px 15px var(--desaturated-red);
}

.error-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 90px;
}

.error-msg p{
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: var(--soft-red);
}

.error-border{
    border: 2px solid var(--soft-red);
}

.hidden{
    visibility: hidden;
}

/* --- Desktop Flow --- */

@media screen and (min-width:1024px) {
    
    .mobile{
        display: none;
    }

    .desktop{
        display: block;
        right: 0;
        top: 0;
        position: absolute;
    }

    .desktop img{
        width: 610px;
    }

    /* Header */

    header img{
        width: 158px;
        height: 33px;
        margin: 64.91px 165px;
    }

    /* Content */

    .content{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 165px;
    }

    .content-text{
        width: 445px;
        height: 308px;
    }

    h1{
        font-size: 64px;
        line-height: 71px;
        letter-spacing: 17.32px;
        
    }

    p{
        font-size: 16px;

    }

    /* Form Content */

    .form-content{
        display: flex;
        justify-content: flex-start;
    }

    input{
        width: 445px;
        height: 56px;
        margin-top: 50px;
    }

    button{
        width: 100px;
        height: 56px;
        position: absolute;
        left: 520px;
        bottom: 147px;
    }

    button:hover{
        cursor: pointer;
    }

    .error-icon{
        position: relative;
        bottom: -25px;
        left: -125px;
    }

    .error-msg p{
        position: absolute;
        bottom: 85px;
        left: 185px;
        font-size: 13px;
        line-height: 28px;
    }

    /* Footer */

    footer{
        position: absolute;
        bottom: -10px;
        left: 165px;
    }
}