/* Universal Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-red: hsl(0, 6%, 24%);
  --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  background: var(--gradient1);
}

.desktop {
  display: none;
}

/* --- Mobile Flow --- */

/* Header */

.logo img {
  width: 99.78px;
  height: 19.94px;
  margin: 31.54px 32px;
}

.mobile img {
  width: 100%;
  height: auto;
}

/* Content */

.content {
  text-align: center;
  margin: 0 32px;
}

.content h1 {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 10.83px;
  font-weight: 600;
  color: var(--dark-red);
  text-transform: uppercase;
  margin-top: 64.52px;
}

.accent {
  font-weight: 300;
  color: var(--desaturated-red);
}

.content p {
  margin-top: 16px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--desaturated-red);
}

.form {
  margin-top: 35px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

input {
  width: 311px;
  height: 48px;
  border-radius: 28px;
  border: 1px solid var(--desaturated-red);
  padding: 15px;
}

input::placeholder {
  font-size: 14px;
  line-height: 28px;
  color: var(--desaturated-red);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 48px;
  border: none;
  border-radius: 28px;
  background: var(--gradient2);
  position: absolute;
  right: 25px;
}

.err-icon {
  position: absolute;
  right: 95px;
  bottom: 0;
}

.err-msg p {
  font-size: 13px;
  color: var(--soft-red);
  position: relative;
  left: -50px;
}

.err-msg {
  position: relative;
  left: 0;
}

.border {
  border: 2px solid var(--soft-red);
}

.hidden {
  visibility: hidden;
}

/* --- Desktop Flow --- */

@media screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  main {
    display: flex;
  }

  /* Logo */

  .logo img {
    width: 158px;
    height: 33px;
    margin-top: 64.91px;
  }

  .container {
    margin-left: 165px;
  }

  .content {
    text-align: left;
  }

  .content h1 {
    margin-top: 50px;
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 17.32px;
    padding-right: 50px;
  }

  .accent {
    line-height: 64px;
  }

  .content p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 28px;
    padding-right: 235px;
  }

  .form {
    display: flex;
    justify-content: flex-start;
  }

  input {
    width: 455px;
    height: 56px;
  }

  .btn {
    left: 555px;
    width: 100px;
    height: 56px;
  }

  .btn:hover {
    background: #f8bfbf;
    cursor: pointer;
  }

  .err-icon {
    left: 525px;
    bottom: 170px;
  }

  .err-msg {
    left: 75px;
    bottom: 10px;
  }
}
