*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --linear-dark: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --linear-light: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: url("../images/bg-pattern-desktop.svg") no-repeat left,
    var(--linear-light);
  background-size: cover;
}

.mobile {
  display: none;
}

/* --- Desktop Flow --- */
.card {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "logo image"
    "content image"
    "content image";
}

header {
  display: grid;
  align-content: center;
  grid-area: logo;
  padding: 0 9rem;
  margin-top: 4.06rem;
}

.image-container {
  grid-area: image;
}

.card-content {
  display: grid;
  align-content: center;
  grid-area: content;
  padding: 10rem;
}

.card-text h1 {
  font-size: 4rem;
  line-height: 4.43rem;
  letter-spacing: 1.82rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-grayish-red);
  margin-bottom: 25px;
}

.accent {
  font-weight: 300;
  color: var(--desaturated-red);
}

.card-content p {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--desaturated-red);
  padding-right: 9.37rem;
  margin-bottom: 1.25rem;
}

.email-input {
  width: 27.81rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  border: 1px solid var(--desaturated-red);
  padding: 1.06rem;
}

.email-input::placeholder {
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--desaturated-red);
}

.btn {
  width: 6.25rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  background: var(--linear-dark);
  border: transparent;
  color: white;
  font-size: 1.25rem;
  position: absolute;
  transform: translateX(-100%);
  box-shadow: 5px 5px 10px 4px var(--desaturated-red);
}

.btn:hover {
  background: #f1c2c2;
  cursor: pointer;
}

.err-icon {
  position: absolute;
  transform: translate(315px, -67px);
  display: none;
}

.err-icon i {
  padding: 3px 8px;
  border-radius: 50%;
  background-color: var(--soft-red);
  color: white;
}

.err-msg {
  position: relative;
  transform: translateX(5%);
  display: none;
  font-size: 0.81rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--soft-red);
}

.border {
  border: 2px solid var(--soft-red);
}

.show {
  display: block;
}

/* --- Mobile Flow --- */

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  header {
    padding: 0 32px;
    margin: 31px 0;
  }

  .logo img {
    width: 100px;
    height: 20.89px;
  }

  .mobile {
    display: flex;
  }

  .mobile img {
    width: 100%;
    height: auto;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .card-text {
    text-align: center;
  }

  .card-text h1 {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 10.83px;
    margin-top: 50px;
  }

  .card-text p {
    font-size: 14px;
    line-height: 22px;
    padding: 0 35px;
    margin-bottom: 30px;
  }

  .email-input {
    width: 311px;
    height: 48px;
    margin-bottom: 50px;
  }

  .btn {
    width: 64px;
    height: 48px;
  }

  .err-icon {
    transform: translate(220px, -114px);
  }

  .err-msg {
    transform: translate(15px, -50px);
  }
}
